[submodule "Sources/ChessKitEngineCore/Engines/Stockfish"]
	path = Sources/ChessKitEngineCore/Engines/Stockfish
	url = git@github.com:chesskit-app/Stockfish.git
[submodule "Sources/ChessKitEngineCore/Engines/lc0"]
	path = Sources/ChessKitEngineCore/Engines/lc0
	url = git@github.com:chesskit-app/lc0.git
